
.footerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(93 94 96);
    height: 8rem; 
    box-shadow: 0px 0px 10px 5px rgba(143, 142, 142, 0.322);

   span{
    color: var(--with-500);
   }
}
